[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:jakub-jedrzejczyk/tmux.dotfiles.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jakub-jedrzejczyk/nvim.dotfiles.git
