[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:jakub-jedrzejczyk/nvim.dotfiles.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
